aiofiles==22.1.0
alembic==1.9.2
aniso8601==9.0.1
asgiref==3.6.0
cffi==1.15.1
Flask==2.2.2
Flask-JWT-Extended==4.4.4
Flask-Login==0.6.2
Flask-Migrate==4.0.3
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.1.1
graphql-core==3.2.3
graphql-relay==3.2.0
Jinja2==3.1.2
MarkupSafe==2.1.1
nltk==3.8.1
psycopg2==2.9.5
PyJWT==2.6.0
python-dotenv==0.21.1
regex==2022.10.31
SQLAlchemy==1.4.46
Werkzeug==2.2.2
WTForms==3.0.1
